@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
    margin: 0;
    font-family: Nunito !important;
    font-style: normal;
    font-weight: normal;
}

.home-left-side {
    position: absolute;
    top: 110px;
    left: 110px;
}

.home-right-side {
    position: absolute;
    left: 60vw;
    top: 193.76px;
}

.home_blue_stain {
    position: absolute;
    width: 70vw;
    height: 65vh;
    top: 0px;
}

.home_intro_text {
    font-size: 52px;
    line-height: 23px;
    /* or 44% */

    display: flex;
    align-items: center;
    letter-spacing: 0.025em;
}

.create-timeline-form {
    margin-top: 38vh;
}

.home-form-text {
    font-size: 21px;
    line-height: 23px;
    /* or 110% */

    display: flex;
    align-items: center;
    letter-spacing: 0.025em;
}

.home-form-input {
    background: #FFFFFF;
    border: 2px solid #3362DB;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 439px;

    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.025em;
    padding: 11px;
}

.home-form-button {
    background: #2251CA;
    border: none;
    border-radius: 5px;
    width: 439px;
    height: 52px;

    font-size: 21px;
    line-height: 23px;
    /* or 110% */

    display: flex;
    align-self: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.025em;

    color: #FFFFFF;
}

.home-subheader {
    font-size: 37px;
    /* or 62% */
    letter-spacing: 0.025em;

    color: #000000;
}

.home-right-text {
    margin-top: 12px;
    margin-left: 2px;
    font-size: 16px;
    line-height: 23px;
    max-width: 502px;
    /* or 144% */

    letter-spacing: 0.025em;

    color: #000000;
}

.fixed-center {
    position: fixed;
    left: 20%;
    top: 35%;
}

.absolute-center {
    position: absolute;
    left: 20%;
    top: 35%;
}

.happening-date {
    height: 115px;
    width: 115px;
    margin-left: 22px;
    margin-top: -44px;
    
    background: white;
    border: none;
    box-shadow: 2px 4px 12px rgba(113, 113, 113, 0.25);
    
    border-top-left-radius: 65% 100%;
    border-top-right-radius: 65%;
    border-bottom-right-radius: 100% 65%;
    border-bottom-left-radius: 25px;
    
    transform: rotate(45deg);
  
    padding: 10px;
}

.happening-content {
    transform: rotate(-45deg);
    margin-left: 20px;
    margin-top: 9px;
}

.month-day-text {
    font-size: 14px;
    line-height: 23px;
    /* or 164% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.025em;
}

.year-text {
    font-size: 17px;
    line-height: 23px;
    /* or 135% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.025em;
}

.happening-info {
    width: 190px;
    margin-top: -22px;
}

.happening-info-title {
    font-size: 23px;
    line-height: 23px;
    letter-spacing: 0.025em;
}

.happening-info-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.025em;
}

.color-white {
    color: #FFFFFF;
}
.color-error {
    color: #e94444;
}

.font-size-16 {
    font-size: 16px;
}
.font-size-18 {
    font-size: 18px;
}


.ml1 {
    margin-left: 10px;
}
.ml2 {
    margin-left: 20px;
}
.ml3 {
    margin-left: 30px;
}
.ml4 {
    margin-left: 40px;
}
.ml5 {
    margin-left: 50px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-17 {
    margin-top: 17px;
}
.mt-36 {
    margin-top: 36px;
}
.mb-10 {
    margin-bottom: 10px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-70 {
    padding-bottom: 70px;
}

/* ----- SPINNER ----- */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 8px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/* ----- Spinner end ----- */

@media only screen and (max-width: 1393px) {
    .right-side {
       left: 50vw;
    }

}

@media only screen and (max-width: 1000px) {

    .home-left-side {
        position: relative;
        top: 0px;
        left: 0px;
    }

    .home_intro_text {
        margin-top: 10vh;
        margin-left: 20px;
        margin-right: 20px;

        /* font-size: 28px; */
        line-height: 102%;
    }

    .home-subheader {
        font-size: 32px;
    }

}

@media only screen and (max-width: 800px) {
    .home_blue_stain {
        background-color: #3362DB;
        width: 100vw;
        height: 40vh;
    }

    .home-subheader {
        display: none;
    }

}
